<% @plots.each do |plot| %>
<ul id="plot-<%=plot.id%>">
  <li>Plot number: <%= plot.number %></li>
  <p>Plants:</p> <% plot.plants.each do |plant| %>
    <p><%= plant.name %> <%= link_to "Remove #{plant.name}", "/plots/#{plot.id}/plants/#{plant.id}", method: :delete, local: :true %></p>
  <% end %>
  </ul>
<% end %>